.fixed-height-container {
  height: 50dvh;
  width: 80dvw;
  overflow: hidden;
}

.carouselImg {
  width: 60%;
  height: 50%;
  /* object-fit: contain; */
  margin-right: 2vh;
}
.innerDiv {
  display: flex !important;
  justify-content: center;
  align-items: center;
  margin: 2vh;
}

.carousel-conatiner-div {
  /* margin-top: 5vh; */
  margin-left: 10vh;
  width: 90%;
}
