.footer-font {
  font-size: 0.8rem;
}

.footer-alignment {
  /* position: fixed; */
  /* margin-bottom: 2dvh; */
  width: 100%;
  position: relative;
  bottom: 2dvh;
  margin-top: 2dvh;
  text-align: center;
}

.animate-on-scroll {
  position: absolute;
  left: 50%; /* Start off-screen on the right */
  transform: translate(-50%, -50%);
  animation: slideIn 2s forwards; /* Animation duration and fill mode */
}
/* HTML: <div class="loader"></div> */
.loader {
  font-size: 1.5rem;
  /* animation: l1 1s linear infinite alternate; */
  cursor: pointer;
}

/* @keyframes l1 {
  to {
    opacity: 0;
  }
} */

.main-div {
  height: 20dvh;
  width: 100%;
  background-color: #5981af;
  color: white !important;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.linkedInLogo {
  width: 5%;
}

.pointerCursor {
  cursor: pointer;
}
