@import url('https://fonts.googleapis.com/css2?family=Overpass');
@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  /* font-family: 'Nunito' !important; */
  font-family: "Archivo","Helvetica Neue",Helvetica,Arial,sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff !important;
  color: #757575 !important;
}

a {
  color: #757575 !important;
  text-decoration: none;
}

code {
  font-family: "Archivo","Helvetica Neue",Helvetica,Arial,sans-serif !important;
}


.heading-primary{
  text-align: center;
  font-family: "Overpass", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
.header-margin{
  margin-top: 20dvh;
}

.center-text{
  text-align: center;
}

.pointer{
  cursor: pointer;
}

/* HTML: <div class="loader"></div> */
.loader-container{
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* ensure the popup appears above other content */
}
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid;
  border-color: #5981af #000;
  animation: l1 1s infinite;
}
@keyframes l1 {to{transform: rotate(.5turn)}}