.card {
  background-color: #5981af !important;
  color: #fefefa !important;
  cursor: pointer;
  transition: transform 0.3s ease-in-out !important;
  margin: 5vh;
}

.card:hover {
  color: #5981af !important;
  transform: scale(1.05) !important;
  background-color: transparent !important;
}

.card-content {
  text-align: center;
}

.our-business-h2 {
  margin-bottom: 0 !important;
}

.MuiCardContent-root {
  padding: 0 !important;
}

.span-padding{
  padding: 2dvh;
}

@media only screen and (min-width: 1301px) {
  .card-width {
    width: 20dvw;
  }
  .card1-ht {
    height: 30dvh;
  }
  .card2-ht {
    height: 30dvh;
  }
  .card3-ht {
    height: 30dvh;
  }

  .flex-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* .card-context-text {
    margin-top: 2vh !important;
  } */
  /* .card-context-static {
    margin-top: 5vh !important;
  } */
}
