.card {
  background-color: #757575 !important;
  color: #fefefa !important;
  cursor: pointer;
  transition: transform 0.1s ease-in-out !important;
  margin: 5vh;
}

.card:hover {
  color: #757575 !important;
  transform: scale(1.05) !important;
  background-color: transparent !important;
}

.card-content {
  text-align: center;
}

@media only screen and (min-width: 1301px) {
  .card {
    height: 40vh;
    width: 20vw;
  }
  .flex-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card-content-text {
    margin-top: 10vh !important;
  }
  .card-context-static {
    margin-top: 20vh !important;
  }
}
