@import url('https://fonts.googleapis.com/css2?family=Overpass');
@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');

.MuiTab-root {
  font-family: "Overpass","Helvetica Neue",Helvetica,Arial,sans-serif !important;
  font-size: 1.5rem !important;
}

@media (max-width: 800px) {
  /* Adjust styles for screens smaller than 800px (typical mobile devices) */
  .main-page-menu {
    display: none !important;
  }
}
